.competition-info-container{

  h2{
      text-align: left;
  }
  
  table{
      a{
          text-decoration: none;  
          color: inherit; 
          width:100%;
          display: flex;
          column-gap: 0.25rem;
          align-items: center;
      }
  }

  &__team-logo{
      max-height: 2.5rem;
      max-width:  2.5rem;
  }

  &__team-points{
      font-weight: bold;
  }
}