.competition-info-container{

    &__competition-header{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap:5rem;
        padding: 2rem;
        border-radius: 10px;
        background-image: url('../background-waves.svg');
        background-attachment: fixed;
        background-size: cover;
        @media only screen and (max-width: $max-width-lower){
            gap:2rem;
            justify-content: center;
        }

        img:first-of-type{
            margin-left:2.5rem;
            @media only screen and (max-width: $max-width-lower){
                margin-left:0;
                width:8rem;
            }
        }

        h1{
            text-transform: uppercase;
            font-size:6vw;
            @media only screen and (max-width: $max-width-lower){
               font-size: 10vw;
            }
            font-family: "Special Gothic Condensed One", sans-serif;
        }

        &__competition-country{
            position: absolute; 
            top: 0.5rem;          
            left: 0.5rem;     
            max-width: 2rem;     
            max-height: 2rem;    
        }
    }

    select {
        margin-left: 2.5rem;
        font-size: 1rem;
        font-weight: 700;
        width:30%;
        box-shadow: none;
        border-color: $color-primary;
        &:focus{
            border-color: $color-primary;
            box-shadow: $color-primary;
        }

        @media only screen and (max-width: 1100px) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
      
        }

        @media only screen and (max-width: $max-width) {
            margin-left: auto;
            margin-right: auto;
            width:80%;
        }
        @media only screen and (max-width: $max-width) {
            margin-left: auto;
            margin-right: auto;
            width:70%;
        }
        @media only screen and (max-width: $max-width) {
            margin-left: auto;
            margin-right: auto;
            width:60%;
        }
    }

    h2{
        text-align: left;
        margin-left: 2rem;
    }

    table a{
        text-decoration: none;  
        color: inherit; 
        width:100%;
        display: flex;
        column-gap: 0.25rem;
        align-items: center;   
    }

    &__team-logo{
        max-height: 2rem;
        max-width:  2rem;
    }

    &__team-points{
        font-weight: bold;
    }

    &__teams-list-container{
        width:100%;

        table tr{
            border:1px black solid;
            th:nth-of-type(2n+1){
                text-align: center;
            }
            td{
                cursor:pointer;

                img{
                    max-width: 3rem;
                    margin-left: 1.5rem;
                }
    
                span{
                    font-size: 1.2rem;
                }
            }    
        }
    }

    &__statistic-table{
        width:95%;
        text-align: left;
        font-size: 1.1rem;

        th{
            text-align: center;
        }
        
        td{
            a{
                display: flex;
                align-items: center;
            
               
                img{
                    max-width: 2.3rem;
                }
            }

            span{
                display: flex;
                align-items: center;
                margin-top:0.5rem;
                justify-content: center;
                justify-items: center;
            }
        }

        &__player-photo{
            border-radius: 3rem;
        }
    }

    &__competition-matches-container{
        display: flex;
        flex-wrap: wrap;
        
    }
}
