.header-container{
    display: grid;
    grid-template-columns: 15% 85%;
    padding:0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    background-color:  $color-primary;
    box-shadow: 2px 2px 10px blue;
    transition: all 0.5s ease;
    align-items: center;
    @media only screen and (max-width: $max-width-lower) {
        grid-template-columns: 1fr;
    }

    &__logo{
        @media only screen and (max-width: $max-width-lower){
            align-self: center;
            max-width:20vh;
            max-height: 20vh;
        }
    }

    &__menu-options{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
        align-items:center;
        justify-content: center;
        list-style: none;
        @media only screen and (max-width: $max-width-lower) {
            margin:0 auto;
        }

        a{
            text-decoration: none;
            color:$color-whitesmoke;
            padding:0.5rem;
            &:hover{
                border-bottom: 2px $color-whitesmoke solid;
            }
            
            span{
                font-weight: bold; 
                text-transform: uppercase;
                padding:1rem;
                transition: all 0.5s ease;
                @media only screen and (max-width: $max-width) {
                    padding: 0.5rem;
                    border-left: none;
                }
            }
        }
    }
}