.header-container{
    padding:0.5rem;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color:  $color-primary;
    box-shadow: 2px 2px 10px blue;
    transition: all 0.5s ease;
    width:100%;
    @media only screen and (max-width: $max-width) {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    &__logo{
        @media only screen and (max-width: $max-width){
            width:25vh;
            height: 25vh;
        }
    }

    &__menu-options{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
        align-items:center;
        justify-content: center;
        gap:0.5rem;
        list-style: none;
        @media only screen and (max-width: $max-width) {
            display: flex;
            justify-content: space-around;
        }

        a{
            text-decoration: none;
            color:$color-whitesmoke;
            &:hover{
                border-bottom: 2px $color-whitesmoke solid;
            }

            li{
                font-weight: bold; 
                text-transform: uppercase;
                padding:1rem;
                transition: all 0.5s ease;
                @media only screen and (max-width: $max-width) {
                    padding: 0.5rem;
                    border-left: none;
                }
            }
        }
    }
}
