.match-card-container {
    width: 35rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid $color-grey-light;
    border-radius: 12px;
    background-color: $color-white;
    font-weight: 700;
    font-size: 80%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 1rem;
    }

    &__competition {
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
        width: 2rem;
        height: 2rem;
        object-fit: contain;

        @media only screen and (max-width: $max-width) {
            width: 1.5rem;
            height: 1.5rem;
        }
        @media only screen and (max-width: $max-width-lower) {
            width: 1rem;
            height: 1rem;
        }
        }

        &__name {
        color: $color-primary;
        font-size: 1rem;
        font-weight: 600;
        @media only screen and (max-width: $max-width) {
            font-size: 0.8rem;
        }
        }
    }

    &__meta {
        text-align: end;

        &__round {
        font-size: 1rem;
        font-weight: 600;
        @media only screen and (max-width: $max-width) {
            font-size: 0.8rem;
        }
        }

        &__datetime {
        font-size: 0.875rem;
        color: $color-grey;
        @media only screen and (max-width: $max-width) {
            font-size: 0.8rem;
        }
        }

        &__status {
        font-size: 0.75rem;
        margin-top: 0.25rem;
        color: $color-charcoal;
        }
    }

    &__teams {
        display: flex;
        align-items: center;
        justify-content: center;

        &__score-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__score {
                font-size: 1.5rem;
                font-weight: 700;
                @media only screen and (max-width: $max-width) {
                    font-size: 1rem;
                }
                @media only screen and (max-width: $max-width-lower) {
                    font-size: 0.8rem;
                }
        
                &__value {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1;
                    @media only screen and (max-width: $max-width) {
                    font-size: 1.5rem;
                    }
                }
        
                &__sep {
                    font-size: 1.5rem;
                    line-height: 1;
                    color: $color-grey;
                    @media only screen and (max-width: $max-width) {
                        font-size: 1.5rem;
                    }
                }
                &__margin{
                    margin-top:1.25rem;
                }
            }

            &__penalty {
                font-size: 0.85rem;
                color: $color-grey;
                margin-top: 0.25rem;
                min-height: 1rem;
            }
        }

        &__team {
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $max-width) {
            justify-content: center;
            flex-direction: column;
        }

        &__away {
            @media only screen and (max-width: $max-width) {
            flex-direction: column-reverse;
            }
        }

        &__logo {
            max-height: 5rem;
            max-width: 5rem;
            @media only screen and (max-width: $max-width) {
            align-self: center;
            max-width: 4rem;
            max-height: 4rem;
            }
        }

        &__name {
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
            color: $color-primary;
            @media only screen and (max-width: $max-width) {
            font-size: 0.8rem;
            }
        }

        &:first-child {
            margin-right: 2rem;
        }

        &:last-child {
            margin-left: 2rem;
        }
        }
    }

    a {
        text-decoration: none;
    }
}