$color-primary:black;
$color-white:white;
$color-whitesmoke:whitesmoke;
$color-error:#dc3545;
$max-width:800px;
$max-width-lower:600px;
$max-width-mobile:400px;
$color-grey:#6c757d;
$color-grey-light:#ddd;