spring.application.name=server
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
spring.cache.type=redis
spring.data.redis.host=redis_host
spring.data.redis.port=redis_port
spring.data.redis.username=redis_username
spring.data.redis.password=redis_password
spring.data.redis.timeout=60000
spring.data.redis.ssl.enabled=false
spring.data.redis.database=0
spring.jackson.time-zone=Europe/Madrid
api.key=api_key
api.host=api_host
season=season